.containers1{
    width: 1280px;
    min-height: 500px;
    margin:70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.containers1 .boxs1{
    position:relative;
    width:300px;
    height: 300px;
    background:#333;
    margin:10px;
    box-sizing: border-box;
    display:inline-block;
}
.containers1 .boxs1 .imgBox{
    position: relative;
    overflow: hidden;
    }
.containers1 .boxs1 .imgBox img
{
    max-width:100%;
    transition: transform 2s;
}
.containers1 .boxs1:hover .imgBox img
{
    transform: scale(1.2);
}

.containers1 .boxs1 .details{
    position:absolute;
    top: 10px;
    left:10px;
    bottom:10px;
    right:10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
    }
.containers1 .boxs1:hover .details{
    transform: scaleY(1);
}

.containers1 .boxs1 .details .contents{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    padding:15px;
    color:#fff;
}

.containers1 .boxs1 .details .contents .h3{
    margin:0;
    padding:0;
    font-size:20px;
    color:#ff0;
}
.containers1 .boxs1 .details .contents .p{
    margin:10px 0 0;
    padding:0;
}
