{% load staticfiles %}

<html>
<title>DEPARTMENT</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<div class="header">
<img src="{% static 'images/csit.jpg' %}" style="height:105px;width:120px;"> <h1 class="serif"><font size="6" color="#333">CS IT DEPARMENT WEBSITE</font> </h1>
</div>
</body>



<style>


.header img {
  float: left;
  margin-left: 20px;

}

.header h1 {
  position: relative;
  top: 4px;
  left:10px;
}

body {margin:0;font-family:"Times New Roman", Times, serif;
}}
p.solid {border-style: solid;}
<p> {
  text-align: left;
}
p.serif {
  font-family: "Times New Roman", Times, serif;
}

div.b {
  text-align: left;
}

.wrapper {
	margin-top: 30px;
  margin-bottom: 200px;
  margin-left: 120px;
  margin-right:70px;
}

#more {
  display: button;}
button{
  background-color: #ddd;
}

h2 {
  text-align: center;
}






.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #f2f2f2;
  color: black;
}

.dropdown-content a:hover {
    background-color: #4CAF50;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}

.topnav a.active {
  background-color: #555;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


#HomeFootersocail{position: relative;
  left: 200;
  bottom: 0;
  width: 100%;
  color: white;
  }


.footer {
      left: 0;
      bottom: 0;
      background-color:#666666;
      width:100%;
      position: relative;

}
#HomeFooter2 { font-family: 'Cabin', sans-serif; text-transform:lowercase; font-size:18px; margin:0px;
width:1000px; margin-left:220px; bottom:0; }

ul {
    position:relative;
    margin:0;
    padding:0;
    display:flex;
}

ul li {
    position:relative;
    width:30px;
    height:30px;
    list-style:none;
    margin:0 30px;
    transform: rotate(-30deg) skew(25deg);
    background:#ccc;
    }

ul li span{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    transition: 0.5s;
    display: flex !important;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:30px !important;
    }

ul li:hover span:nth-child(5)
{
    transform: translate(40px, -40px);
    opacity:1;
}

ul li:hover span:nth-child(4)
{
    transform: translate(30px, -30px);
    opacity:.8;
}

ul li:hover span:nth-child(3)
{
    transform: translate(20px, -20px);
    opacity:.6;
}

ul li:hover span:nth-child(2)
{
    transform: translate(10px, -10px);
    opacity:.4;
}

ul li:hover span:nth-child(1)
{
    transform: translate(0,0);
    opacity:.2;
}

ul li:nth-child(5) span{
    background:#e4405f
}

ul li:nth-child(4) span{
    background:#0077B5
}

ul li:nth-child(3) span{
    background:#dd4b39
}

ul li:nth-child(2) span{
    background:#55acee
}

ul li:nth-child(1) span{
    background:#3b5999
}

</style>
<body bgcolor="FFFFFF">
  <p class="solid">

<div class="topnav" id="myTopnav">
  <a href="{% url 'index' %}" >Home</a>
      <a href="{% url 'all_notice'%}">Notices</a>
      <div class="dropdown">
          <button class="dropbtn" href="#Library">Library
          <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
              <a href="{% url 'books' %}">Books</a>
              <a href="{% url 'exampapers' %}">Exam Papers</a>
              <a href="{% url 'syllabus' %}">Syllabus</a>
          </div>
      </div>

      <div class="dropdown">
          <button class="dropbtn">About
              <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
              <a href="{% url 'department' %}">Department</a>
              <a href="{% url 'faculty' %}">Faculty</a>
              <a href="{% url 'alumni' %}">Alumni</a>
              <a href="{% url 'admission' %}">Admissions</a>
          </div>
      </div>
  <a href="{% url 'gallery' %}">Gallery</a>
<a href="{% url 'contact' %}">Contact</a>
<a href="{% url 'login'%}">Login</a>


<input type="text" placeholder="Search..">
</div>


<div class="wrapper">
    <h1 align="center" style="background:#2DBDBD;">Welcome to Department of Computer Science & IT</h1><br><br><br>

    <strong style=background:#333;"><font color="2DBDBD">ABOUT DEPARTMENT</font></strong><br><br>
    The Department of Computer Science & Information Technology was established in the year 1999. Ruia College was among the first 8 colleges to start B.Sc. Computer Science as part of the curriculum at the Under-graduate level. Later Department introduced M.Sc. Computer Science and M.Sc. Information Technology in the year 2002 and 2012 respectively. Our Department has progressed a lot in so many years along with well-equipped laboratories. We have separate computer laboratories for UG and PG. Every year, leading companies like L & T InfoTech, TCS, Wipro, Capgemini, Infosys, MBT, ATOS, Deloitte India and many more visit the Department for the Campus Placement Drive. Many of our Graduate and Postgraduate students are placed in the above mentioned companies that make us feel proud.
    <br>
    <br>
    <br>
    <br>
    <strong style=background:#333;"><font color="2DBDBD">COURSE INTRODUCTION</font></strong><br><br>
    Information and Communication Technology (ICT) has today become integral part of all industry domains as well as fields of academics and research.  Considering the global competence we aim to provide high quality and affordable education in career building of students and encourage them to excel in various fields. Also enhance creativity and entrepreneurial approach through industrial collaborations.

A real genuine attempt has been made while designing the B.Sc. Computer Science course structure for the 3 year graduate course. Not only does it prepare the students for a career in Software industry, it also motivates them towards further studies and research opportunities.

The core philosophy of overall syllabus is to –



    Introduce emerging trends to the students in gradual way.
    Soft skills to increase employability and make students job ready.
    Develop programming, analytical & design skills for the real world problems.
    Enable students to take up advance courses and certifications further in the domain and keep themselves updated with current technologies in industry.,
    Groom the students for the challenges of ICT industry.
    <br>
    <br>
    <br>
    <br>

    <strong style=background:#333;"><font color="2DBDBD">DEPARTMENT FEATURES</font></strong><br><br>

    Well equipped laboratories with high configuration computers and 50 MBPS Internet connection.
    Regular Campus Placements.
    600 Hours of Internship in the last semester of M.Sc. (CS & IT).
    Parent-teacher meetings conducted regularly to discuss the progress of students.
    Many trainings/seminars and workshops are organized every year on recent technologies.
    Positive relationship between students & teachers.
    Alumni talks are arranged for student interaction.
    Educational visits are organized to show the implementation of the concepts learned during class.
    Regular Mentoring session




</div>












<br>
  <div class="footer">
<div id="HomeFootersocail" style="padding-left:290px;">
    <br>
    <br>
    <br>
    <br>
    <ul>
        <li>
            <a href="#" >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-facebook" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-twitter" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-google-plus" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-linkedin" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-instagram" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
</div>


 <div id="HomeFooter2" style="padding-left:300px;"><br><a href="{% url 'contact' %}">Contact</a> | <a href="#">Careers</a> | <a href="#">Disclaimer</a> | <a href="#">Copyright</a> | <a href="https://www.google.com/maps/place/Ramnarain+Ruia+Autonomous+College/@19.023554,72.8478681,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7cf20f46ff7c1:0xd7607e1d400909ec!8m2!3d19.023554!4d72.8500568">Location</a> </div>
</div>
</body>
