<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
<p> User <b> {{user.username}} </b> is Logged In </p>
<form method="POST" action="/logout/">
    {% csrf_token %}
    <input type="submit" value="Logout">
</form>
</body>
</html>
