{% load staticfiles %}
<html>

<title>SYLLABUS</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<div class="header">
<img src="{% static 'images/csit.jpg' %}" style="height:105px;width:120px;"> <h1 class="serif"><font size="6" color="#333">CS IT DEPARMENT WEBSITE</font> </h1>
</div>
</body>
<style>


.header img {
  float: left;
  margin-left: 20px;

}

.header h1 {
  position: relative;
  top: 4px;
  left:10px;
}

body {margin:0;font-family:"Times New Roman", Times, serif;
}}
p.solid {border-style: solid;}
<p> {
  text-align: left;
}
p.serif {
  font-family: "Times New Roman", Times, serif;
}

div.b {
  text-align: left;
}

.wrapper {

  margin-bottom: 260px;
  margin-right:70px;
}

#more {
  display: button;}
button{
  background-color: #ddd;
}

h2 {
  text-align: center;
}






.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #f2f2f2;
  color: black;
}

.dropdown-content a:hover {
    background-color: #4CAF50;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}

.topnav a.active {
  background-color: #555;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

#HomeFootersocail{ position: relative;
  left: 200;
  bottom: 0;
  width: 100%;
  color: white;
  padding-left:290px;}

#HomeFooter2 { font-family: 'Cabin', sans-serif; text-transform:lowercase; font-size:18px; margin:0px;
width:1000px; margin-left:220px; bottom:0; padding-left:300px; }

.footer {
      left: 0;
      bottom: 0;
      background-color:#666666;
      width:100%;
      position: relative;

}

th {
  background-color: #f2f2f2;
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

.button {
  background-color: #2DBDBD;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  width:100px;
  height:30px;

  cursor: pointer;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}

ul {
    position:relative;
    margin:0;
    padding:0;
    display:flex;
}

ul li {
    position:relative;
    width:30px;
    height:30px;
    list-style:none;
    margin:0 30px;
    transform: rotate(-30deg) skew(25deg);
    background:#ccc;
    }

ul li span{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    transition: 0.5s;
    display: flex !important;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:30px !important;
    }

ul li:hover span:nth-child(5)
{
    transform: translate(40px, -40px);
    opacity:1;
}

ul li:hover span:nth-child(4)
{
    transform: translate(30px, -30px);
    opacity:.8;
}

ul li:hover span:nth-child(3)
{
    transform: translate(20px, -20px);
    opacity:.6;
}

ul li:hover span:nth-child(2)
{
    transform: translate(10px, -10px);
    opacity:.4;
}

ul li:hover span:nth-child(1)
{
    transform: translate(0,0);
    opacity:.2;
}

ul li:nth-child(5) span{
    background:#e4405f
}

ul li:nth-child(4) span{
    background:#0077B5
}

ul li:nth-child(3) span{
    background:#dd4b39
}

ul li:nth-child(2) span{
    background:#55acee
}

ul li:nth-child(1) span{
    background:#3b5999
}



</style>

<body bgcolor="FFFFFF">
  <p class="solid">

<div class="topnav" id="myTopnav">
  <a href="{% url 'index' %}" >Home</a>
      <a href="{% url 'all_notice'%}">Notices</a>
      <div class="dropdown">
          <button class="dropbtn" href="#Library">Library
          <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
              <a href="{% url 'books' %}">Books</a>
              <a href="{% url 'exampapers' %}">Exam Papers</a>
              <a href="{% url 'syllabus' %}">Syllabus</a>
          </div>
      </div>

      <div class="dropdown">
          <button class="dropbtn">About
              <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
              <a href="{% url 'department' %}">Department</a>
              <a href="{% url 'faculty' %}">Faculty</a>
              <a href="{% url 'alumni' %}">Alumni</a>
              <a href="{% url 'admission' %}">Admissions</a>
          </div>
      </div>
  <a href="{% url 'gallery' %}">Gallery</a>
<a href="{% url 'contact' %}">Contact</a>
<a href="{% url 'login'%}">Login</a>


<input type="text" placeholder="Search..">
</div>


<div class="wrapper" style="margin-top:20px; margin-left:130px;">

    <table >
        <th><center><strong><u>Syllabus</u></strong></center></th>
        <th><strong><u>Year</u></strong></th>
        <th><strong><u>Course</u></strong></th>
        <th><strong><u>Course Year</u></strong></th>
{% for syllabus in obj %}

      <tr >
          <td> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{syllabus.syllabus}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
          <td><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{syllabus.summary}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</center></td>
          <td><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{syllabus.course}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</center></td>
          <td> <center>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{syllabus.select_class}}&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</center></td>
        <td><p><a href="{{syllabus.upload_syllabus.url}}"><button type="button" class="button button4">&nbsp;Preview &nbsp;</button></a></p></td>
      </tr>

{% endfor %}
        </table>
</div>
<div class="footer">
<div id="HomeFooterrepeat" style="padding-top:30px;"></div> <div id="HomeFootersocail">
    <br>
    <br>
    <br>
    <br>
    <ul>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-facebook" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-twitter" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-google-plus" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-linkedin" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-instagram" aria-hidden="true"></span>
            </a>
        </li>
    </ul>

</div>
 <div id="HomeFooter2"><br><a href="{% url 'contact' %}">Contact</a> | <a href="#">Careers</a> | <a href="#">Disclaimer</a> | <a href="#">Copyright</a> | <a href="https://www.google.com/maps/place/Ramnarain+Ruia+Autonomous+College/@19.023554,72.8478681,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7cf20f46ff7c1:0xd7607e1d400909ec!8m2!3d19.023554!4d72.8500568">Location</a> </div>
 </div>



</body>

</html>
