{% load staticfiles %}
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Confirm Delete comment</title>

  <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/blog-post.css' %}" >

</head>
<body>
<div class="container">
    <form method="post" >
        {% csrf_token %}
        <h1> Confirm Delete</h1>
        <p class="lead">
            Are you sure you want to delete <br>
            "{{obj.content}}" ?
        </p>
        <button type="submit" value="Yes" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" href="{% url 'posts' %}">No</a>

    </form>
</div>

</body>
</html>