{% load staticfiles %}

<html>


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Create Post</title>

  <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/blog-post.css' %}" >

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a href="{% url 'profile'%}"> <img src="{% static 'images/csit.jpg' %}" style="width:75px;height:65px;"></a> &nbsp;&nbsp;&nbsp;
      <a class="navbar-brand" href="#">CS IT FORUM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'profile'%}">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'studentposts' %}">Student Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts' %}">Faculty Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">{{user.first_name}}(Logout)</a>


          </li>
        </ul>
      </div>
    </div>
  </nav>


    <div class="container" align="center" style="margin-top:150px;">
        {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissable" role="alert">
      <button class="close" data-dismiss="alert">
          <small><sup>x</sup></small>
      </button>
      {{message}}
  </div>
  {% endfor %}
  {% endif %}
          <h1> Create a Post </h1>
 <form method="post" enctype="multipart/form-data">
     {% csrf_token %}



        <input type="hidden" name="user" value= {{user}} ><br>
        Title: <input type="text" name="title"  required><br>
     Content: <textarea rows="4" cols="50" name="content" style="white-space: pre-wrap;" required></textarea><br>
     <button type="submit" class="btn btn-success">Success</button>
 </form>
        <!--<form method="post" action="">
            {% csrf_token %}
            user: {{user}}
            {{form.as_p}}
            <input type="submit" value="Create Post" class="btn btn-success">
        </form>-->
</div>














<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>