{% load staticfiles %}


<html>


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Post Details</title>

  <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/blog-post.css' %}" >

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">CS IT FORUM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Student Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts' %}">Faculty Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rules</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <div class="container" style="margin-top:60px;">

        <h1> {{title}}</h1>


        {{instance.title}} <br>
        {{instance.content}}<br>
        {{instance.timestamp}}<br>
        {{instance.updated}}<br>
        {{instance.id}}<br><br><hr>


<div>
    <p class="lead"><b>Comments</b></p>
    <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" value="Post Comment" class="btn btn-default">Post Comment</button>
    </form>

    {% for comment in comments %}
    <div>
        <blockquote >
        {{comment.content}}<br>
        <small>via {{comment.user}} | {{comment.timestamp|timesince}} ago</small><br>

            {% for child_comment in comment.children %}
            <blockquote >
        {{child_comment.content}}<br>
        <small>via {{child_comment.user}} | {{child_comment.timestamp|timesince}} ago</small>
            </blockquote>
    {% endfor %}




        <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
            <input type="hidden" name="parent_id" value="{{comment.id}}">
        <button type="submit" value="Reply" class="btn btn-default">Reply</button>
    </form>
            </blockquote>
        <hr>

    </div>

    {% endfor %}
</div>


    </div>







<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>