{% load staticfiles %}

<html>


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Post Details 1</title>

  <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/blog-post.css' %}" >

</head>

<body>

  <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a href="{% url 'profile'%}"> <img src="{% static 'images/csit.jpg' %}" style="width:75px;height:65px;"></a> &nbsp;&nbsp;&nbsp;
      <a class="navbar-brand" href="#">CS IT FORUM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'profile'%}">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'studentposts' %}">Student Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts' %}">Faculty Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">{{user.first_name}}(Logout)</a>


          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{title}}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{instance.user}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{instance.timestamp}}</p>

        <hr>

        <!-- Preview Image
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">-->

        <hr>

        <!-- Post Content -->
        <p class="lead">{{instance.content|linebreaks}}</p>

        <!--<blockquote class="blockquote">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

        <hr>-->

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method="post" action="">
              <div class="form-group">
                {% csrf_token %}
                {{form.as_p}}
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
            {% for comment in comments %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="{% static 'images/user1.jpg' %}" alt="" style="width:50px;height:50px;">
          <div class="media-body">
            <h5 class="mt-0">via {{comment.user}} | <small>{{comment.timestamp|timesince}} ago</small><!--| {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count >= 1 %}s {% endif %}| {% endif %} <button type="button" class="btn btn-link">Reply</button>--></h5>
            <p class="lead"> {{comment.content| linebreaks}}</p>
          </div>

        </div><a href="{% url 'comment_delete' id=comment.id %}" class="btn btn-primary">Delete</a><hr><br><br>
        {% endfor %}

        <!-- Comment with nested comments
                    <div class="comment-reply" style="display:none;">

                    {% for child_comment in comment.children %}
          <blockquote>
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <h5 class="mt-0">{{child_comment.user}} | {{child_comment.timestamp|timesince}} ago < </h5>
            {{child_comment.content}}</blockquote>

            {% endfor %}

            <form method="post" action="">
              <div class="form-group">
                {% csrf_token %}
                {{form.as_p}}
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </blockquote>


            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>-->

          </div>


      </div>

      <!-- Sidebar Widgets Column
      <div class="col-md-4">

        Search Widget
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

         Side Widget
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div>

    </div>-->
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}">
    $(".comment-reply-btn").click(function(event){
    event.preventDefault();
    $(this).parent().next(".comment-reply").fadeToggle();
    }
  </script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


</body>

</html>
