{% load staticfiles %}

<html>
<title>Admissions</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<div class="header">
<img src="{% static 'images/csit.jpg' %}" style="height:105px;width:120px;"> <h1 class="serif"><font size="6" color="#333">CS IT DEPARMENT WEBSITE</font> </h1>
</div>
</body>



<style>


.header img {
  float: left;
  margin-left: 20px;

}

.header h1 {
  position: relative;
  top: 4px;
  left:10px;
}

body {margin:0;font-family:"Times New Roman", Times, serif;
}}
p.solid {border-style: solid;}
<p> {
  text-align: left;
}
p.serif {
  font-family: "Times New Roman", Times, serif;
}

div.b {
  text-align: left;
}

.wrapper {
	margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 120px;
  margin-right:70px;
}

#more {
  display: button;}
button{
  background-color: #ddd;
}

h2 {
  text-align: center;
}






.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #f2f2f2;
  color: black;
}

.dropdown-content a:hover {
    background-color: #4CAF50;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}

.topnav a.active {
  background-color: #555;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


#HomeFootersocail{ margin:0px; margin-left:500px; float:left; height:120px; width:1000px; }

#HomeFooter2 { font-family: 'Cabin', sans-serif; text-transform:lowercase; font-size:18px; margin:0px;
width:1000px; text-align:center; margin-left:220px; bottom:0; }

.footer {
      left: 0;
      bottom: 0;
      background-color:#666666;
      width:100%;
      position: relative;

}

ul {
    position:relative;
    margin:0;
    padding:0;
    display:flex;
}

ul li {
    position:relative;
    width:30px;
    height:30px;
    list-style:none;
    margin:0 30px;
    transform: rotate(-30deg) skew(25deg);
    background:#ccc;
    }

ul li span{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    transition: 0.5s;
    display: flex !important;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-size:30px !important;
    }

ul li:hover span:nth-child(5)
{
    transform: translate(40px, -40px);
    opacity:1;
}

ul li:hover span:nth-child(4)
{
    transform: translate(30px, -30px);
    opacity:.8;
}

ul li:hover span:nth-child(3)
{
    transform: translate(20px, -20px);
    opacity:.6;
}

ul li:hover span:nth-child(2)
{
    transform: translate(10px, -10px);
    opacity:.4;
}

ul li:hover span:nth-child(1)
{
    transform: translate(0,0);
    opacity:.2;
}

ul li:nth-child(5) span{
    background:#e4405f
}

ul li:nth-child(4) span{
    background:#0077B5
}

ul li:nth-child(3) span{
    background:#dd4b39
}

ul li:nth-child(2) span{
    background:#55acee
}

ul li:nth-child(1) span{
    background:#3b5999
}

</style>
<body bgcolor="f5f5f5">
  <p class="solid">

<div class="topnav" id="myTopnav">
  <a href="{% url 'profile'%}" >Home</a>

<div class="dropdown">
    <button class="dropbtn" href="#Notices">Notices
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'library_all_notice' %}">All</a>
        <a href="{% url 'all_bsc_notice' %}">B.Sc</a>
        <a href="{% url 'all_msc_notice' %}">M.Sc</a>
    </div>
</div>
      <div class="dropdown">
          <button class="dropbtn" href="#Library">Library
          <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
              <a href="{% url 'library_books' %}">Books</a>
              <a href="{% url 'library_exampaper'%}">Exam Papers</a>
              <a href="{% url 'library_syllabus' %}">Syllabus</a>
              <a href="{% url 'library_timetable'%}">Time Tables</a>
          </div>
      </div>

      <div class="dropdown">
          <button class="dropbtn" href="#About">About
              <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
              <a href="{% url 'library_department' %}">Department</a>
              <a href="{% url 'library_faculty' %}">Faculty</a>
              <a href="{% url 'library_alumni' %}">Alumni</a>
	      <a href="{% url 'library_admission' %}">Admissions</a>
          </div>
      </div>
  <a href="{% url 'library_gallery' %}">Gallery</a>
          <a href="{% url 'posts' %}">Posts</a>


      <div class="dropdown" style="float:right;">
          <button class="dropbtn" href="#About" >{{user.first_name}}
              <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
              <a href="{% url 'viewprofile' %}">Profile</a>
              <a href="{% url 'todo' %}">To Do List</a>
              <a href="{% url 'logout' %}">Logout</a>
          </div>
      </div>
      <input type="text" placeholder="Search..">

</div>

<div class="wrapper"><marquee id="marquee1" direction="left" scrollamount="10" onmouseover="this.stop();" onmouseout="this.start();" >
    <h1 align="center" style="background:#2DBDBD;">Welcome to Department of Computer Science & IT</h1></marquee><BR><BR>
<BR>
    <strong style=background:#333;"><font color="#2DBDBD">ADMISSION RULES</font></strong><br><br>
    Students coming from the other states or those who have taken examinations other than those conducted by the Maharashtra State Board of Secondary and Higher Secondary Education and the University of Mumbai have to produce the following:
<BR>
    1.Provisional eligibility certificate from the University of Mumbai
    <br>2.School leaving certificate or the college leaving certificate of the institution attended earlier or a transfer certificate.(Students are required to note that by the end of September, migration certificate, passing certificate and marksheets of students have to be sent to the University for the completion of their enrolment as students of the University of Mumbai. Students are requested to take special care to ensure that they fulfil these requirements within the prescribed time limit.)
    <br>3.Caste Certificate, wherever applicable.
<br>

NOTE: - Further admission related notices will be displayed during admission process.

    <br>
    <br>
    <br>
    <br>
    <strong style=background:#333;"><font color="#2DBDBD">CODE OF CONDUCT FOR STUDENTS</font></strong><br><br>
    <B>General Rules</B><br>

    Attendance: The students should have a minimum of 75% attendance to be eligible to appear for the internal as well as semester end exams.
    Mobile usage in college premises is prohibited.<br>
    Every student should wear his/her identity card within the college premises. It is obligatory for students to return their identity cards to the college office when they cease to be students of the college.
    Rules regarding examination and promotions are given to the students after admission.<br>
    Unfair Means: The use of unfair means by students at any examination will invite severe punitive and disciplinary action under the rules and regulations now in force.




</div>
</body>













<div class="footer">
<div id="HomeFootersocail">
    <br>
    <br>
    <br>
    <br>
    <ul>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-facebook" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-twitter" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-google-plus" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-linkedin" aria-hidden="true"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span class="fa fa-instagram" aria-hidden="true"></span>
            </a>
        </li>
    </ul>

</div>
 <div id="HomeFooter2"><br><a href="{% url 'contact' %}">Contact</a> | <a href="#">Careers</a> | <a href="#">Disclaimer</a> | <a href="#">Copyright</a> | <a href="https://www.google.com/maps/place/Ramnarain+Ruia+Autonomous+College/@19.023554,72.8478681,17z/data=!3m1!4b1!4m5!3m4!1s0x3be7cf20f46ff7c1:0xd7607e1d400909ec!8m2!3d19.023554!4d72.8500568">Location</a> </div>
</div>
</html>